$s-logo-admitad: 0px, 144px, 0px, -144px, 205px, 46px, 245px, 232px, 'sprite.png';
$s-logo-gdeslon: 0px, 0px, 0px, 0px, 245px, 86px, 245px, 232px, 'sprite.png';
$s-logo-socialmart: 0px, 194px, 0px, -194px, 173px, 38px, 245px, 232px, 'sprite.png';
$s-logo-topadvert: 0px, 90px, 0px, -90px, 215px, 50px, 245px, 232px, 'sprite.png';
